Blackmagic Design/
Blockbench/
Code - OSS/
Code/
OpenRGB/
Google/
Inviska/
JetBrains/
KDE/
Kitware/
Kvantum/
PlasmaDiscoverUpdates
PureRef/
QtProject.conf
Thunar/
Trolltech.conf
arkrc
auroraerc
autostart/
baloofileinformationrc
baloofilerc
bluedevilglobalrc
dconf/
device_automounter_kcmrc
discord/
discoverrc
dolphinrc
drkonqirc
filetypesrc
gh/
git-glint/
go/
google-chrome/
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
gwenviewrc
htop/
kaccessrc
kactivitymanagerd-statsrc
kactivitymanagerdrc
karboncalligraphyrc
kate-externaltoolspluginrc
kate/
katemetainfos
katerc
katevirc
kcmfonts
kcminputrc
kconf_updaterc
kde.org/
kded5rc
kded6rc
kded_device_automounterrc
kdedefaults/
kdeglobals
kgammarc
kglobalshortcutsrc
kiorc
kmenueditrc
konsolerc
konsolesshconfig
krunnerrc
kscreenlockerrc
kservicemenurc
ksmserverrc
ksplashrc
ktimezonedrc
ktrashrc
kwalletrc
kwinoutputconfig.json
kwinrc
kwritemetainfos
kwriterc
libaccounts-glib/
mc/
menus/
mimeapps.list
nwg-look/
obsidian/
pavucontrol.ini
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasma.emojierrc
plasmanotifyrc
plasmaparc
plasmarc
plasmashellrc
playit_gg/
powerdevilrc
powermanagementprofilesrc
pulse/
qBittorrent/
qalculate/
ripgrep-all/
sddmthemeinstallerrc
session/
spectaclerc
systemd/
tabletprofilesrc
trashrc
user-dirs.dirs
user-dirs.locale
wacomtablet-kderc
xclicker.conf
xdg-desktop-portal-kderc
xfce4/
xsettingsd/
rofi/current-music.png
