
//@theme "/usr/share/rofi/themes/rover.rasi"

//@theme "/usr/share/rofi/themes/rover.rasi"

//@theme "/usr/share/rofi/themes/rover.rasi"

//@theme "/usr/share/rofi/themes/Paper.rasi"

//@theme "/usr/share/rofi/themes/rover.rasi"

//@theme "/usr/share/rofi/themes/rover-2.rasi"

//@theme "/usr/share/rofi/themes/rover-2.rasi"

//@theme "/usr/share/rofi/themes/RoverAppMenu.rasi"

@theme "/usr/share/rofi/themes/RoverDefalt.rasi"
