@define-color background #0c0c0c;
@define-color background-alt #505050;
@define-color foreground #fafafa;
@define-color focused #fafa50;
@define-color urgent #fa5050;

* {
	font-family:         "otf-font-awesome", "FontAwesome";
	font-size:           10px;
	font-weight:         bold;
}

window#waybar {
	background:          transparent;
}
.modules-right,
.modules-center,
.modules-left {
	background:          @background;
	padding:             0px 2px 0px 2px;
}

#custom-playprevious,
#custom-playnext {
	color:               @foreground;
	font-size:           16px;
	padding:             1px 5px 1px 5px;
	margin:              2px;
}
#network,
#custom-swww,
#custom-calc,
#custom-power {
	font-size:           14px;
	padding:             1px 4px 1px 4px;
	margin:              2px;
	color:               @foreground;
}
#pulseaudio,
#custom-pipewire,
#tray,
#clock,
#playing,
#workspaces,
#status {
	padding:             1px 2px 1px 2px;
	margin:              2px;
	color:               @foreground;
}


button:hover {
	background-color:    @background-alt;
	color:               @foreground;
}
#workspaces button.active {
	border: 1px solid    @foreground;
	padding:             0px 2px 0px 2px;
	color:               @foreground;

}
#workspaces button {
	background-color:    transparent;
	padding:             0px 3px 0px 3px;
	margin:              0px 1px 0px 1px;
	border-radius:       0px;
	color:               @foreground;
}
#workspaces button.empty {
	color:               @background-alt;

}
#workspaces button.focused {
	color:               @foreground;
}
#workspaces button.urgent {
	color:               @foreground;
	background-color:    @urgent;
}
